@import "tailwindcss";
@plugin "daisyui"{  themes: dark --default;}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;          
  overflow: auto;
  font-family: electroliz-regular;
}


